/*the heads attribute*/
h1 {
    color: rgb(164, 164, 0);
    background-color:#F0F0F0;
    font-weight:bold;
    font-family:Century Gothic,sans-serif;
    text-decoration: underline;
    letter-spacing:0.2em;
    text-align:center;
    font-size:22pt;
}

h2 {
    color: rgb(164, 164, 0);
    background-color:#F0F0F0;
    font-weight:normal;
    font-family:Century Gothic,sans-serif;
    text-decoration: underline;
    letter-spacing:0.2em;
    text-align:left;
    font-size:18pt;
}
/*the main page's attribute*/
p {
    color: #404040;
    font-size:11pt;
    font-family:  Georgia, Garamond, sans-serif;
}

/*user's comments attribute*/
blockquote {
    font-style:italic;
    background-color: #FFFFC8;
    text-align:left;
}

body {
    background-image:url(https://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/silverware.jpg);
    background-attachment:fixed;
}

ul{
    list-style-image:url(https://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/pie_icon.gif);
}

a {
    color:white;
    color: rgb(164, 164, 0);
    text-decoration: underline;
}

